:root {
  --popup-color: rgba(255, 255, 255, 0.85);
  --green: #04aa6d;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 14px/22px Helvetica Neue, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: linear-gradient(
    33deg,
    rgba(4, 170, 109, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

tabl {
  width: 100%;
}

td {
  height: 100%;
  max-width: 50vw;
  /* background-color: blue; */
}
#logos {
  display: flex;
  justify-content: space-evenly;
}

.flex-and-spaced {
  display: flex;
  justify-content: space-around;
  font-size: 85%;
}
.box-overlay {
  padding: 15px;
  margin: 0 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.3);
  margin-top: 2vh;
  border-radius: 5px;
}

.box-overlay-black {
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid black;
  color: white;
}

button {
  height: 40px;
  width: 200px;
  position: relative;
  margin: 15px auto 15px auto;
  /* padding: 10; */
  border-radius: 5px;
  border: 2px solid var(--green);
  background-color: var(--green);
  color: var(--popup-color);
  /* background-color: rgb(199, 199, 199); */
}
button:hover {
  color: var(--green);
  background-color: white;
  cursor: pointer;
}

.btn-group {
  display: flex;
  justify-content: center;
}

#mcpc-logo,
#dvrpc-logo {
  width: 15vw;
}

#logo-box {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 10vw;
  min-width: 200;
  z-index: 1;
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #000000; /* old IE */
  background-color: #000000; /* Modern Browsers */
}

.green-text {
  color: var(--green);
  font-weight: bold;
}
table {
  width: 100%;
  text-align: center;
}
#video-at-bottom {
  display: none;
}

.accordion {
  /* background-color: #eee; */
  /* color: #444; */
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

/* .active,
.accordion:hover {
  background-color: var(--green);
  color: white;
} */

.panel {
  /* padding: 0 18px; */
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 10px;
  line-height: 16px;
}
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 700px) {
  #mcpc-logo {
    width: 18vw;
  }
  #dvrpc-logo {
    width: 18vw;
  }
  .headerblock {
    width: 85vw;
  }
  button {
    width: auto;
  }
  #video-at-right {
    display: none;
  }
  #video-at-bottom {
    display: inline;
  }
  /* .video-block {
    position: relative;
    left: 0.5%;
    right: auto;
    padding-top: 2%;
    width: 91vw;
  }
  .header-block {
    position: relative;
    width: 91vw;
    left: 0.5%;
  } */
}
